{% extends 'base.html.twig' %}

{% block title %}{% if page_title is defined %} {{ page_title }} {% else %} Consult Feeds {% endif %} {% endblock %}


{% block body %}

    <div class="col-lg-14 col-md-14">
        <ul class="breadcrumb">
            <li><a href="#">< Health Feed</a></li>
            <!--<li><a href="#">Dentist</a></li>-->
        </ul>
        <div id="feeds">
            <h1>Page not found</h1>
        </div>
    </div>

{% endblock %}