{% extends 'CwiPageBundle::layout.html.twig' %}

{% block title %}{% if page_title is defined %} {{ page_title }} {% else %} Consult Feeds {% endif %} {% endblock %}


{% block body %}

    <h1>Page not found</h1>

{% endblock %}