body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}


.fw4{
    font-weight: 400;
}

.fw5
{
    font-weight: 500;
}

.fw6{
    font-weight: 600;
}

.fw7{
    font-weight: 700;
}

.fs12{
    font-size: 12px;
}

.fs13{
    font-size:13px;
}

.fs14{
    font-size: 14px;
}

.fs15{
    font-size: 15px;
}

.fs16{
    font-size: 16px;
}

.fs17{
    font-size: 17px;
}

.fs18{
    font-size: 18px;
}

.floatleft{
    float: left;
}

.floatright{
    float: right;
}

.greylight
{
    color:#ccc;
}

.greymid{
    color:#999;
}

.greydark{
    color:#666;
}

.greysdark{
    color: #333;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.mtminus5{
    margin-top: -5px;
}

.mtminus10{
    margin-top: -10px;
}

.mt10{
    margin-top: 10px;
}

.mt15{
    margin-top: 15px;
}

.mt20{
    margin-top: 20px;
}

.ml15{
    margin-left: 15px;
}

.mb10{
    margin-bottom: 10px;
}

.mb15{
    margin-bottom: 15px;
}

.mbminus5{
    margin-bottom: -5px;
}

.mbminus10{
    margin-bottom: -10px;
}

.mbminus15{
    margin-bottom: -15px;
}

.navbar{
    min-height: 80px;
}

@media (max-width: 768px) {
    .navbar {
        min-height: 55px;
    }
}

.navbar-inverse {
    background-color: #fff;
    border-color: #DEDEDE;
}

.navbar-nav {
    margin: 0;
    margin-top: 15px;
}

@media (min-width: 768px) {
    .navbar-nav {
        float:right;
        margin-right: -15px;
    }
}

.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #ccc;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color: transparent;
}

.navbar-inverse .navbar-toggle{
    border-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color:#DEDEDE;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 25px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #444;
    font-size: 15px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #9d9d9d;
    background-color: transparent;
}

.navbar-fixed-top {
    max-width: 960px;
    margin: auto;
}

@media (min-width: 768px) {
    .navbar-fixed-top{
        max-width: 730px;
    }
}

@media (min-width: 992px) {
    .navbar-fixed-top{
        max-width: 960px;
    }
}

@media (max-width: 767px) {
    .logo{
        width: 65%;
        margin-top: -8px;
    }
}

.breadcrumb{
    background-color: transparent;
    padding-left: 0px;
}

.breadcrumb > li > a {
    color: #c0c0c0;
    font-size: 12px;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">";
    font-size: 12px;
}

h1.space {
    margin-top: -12px !important;
    font-size: 24px;
    color: #4a4a4a;
    font-weight: 600;
    margin-bottom: 12px;
}

@media (min-width: 768px) {
    .lead {
        font-size: 20px;
        color: #4a4a4a;
        font-weight: 400;
    }
}

.pbtn-info {
    color: #4a4a4a;
    background-color: #fff;
    border-color: #46b8da;
    font-size: 12px;
    font-weight: 600;
}

/*Sidebar*/

.well {
    min-height: 200px;
    padding: 14px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.paddingrightzero {
    padding-right: 0px;
}

.paddingleftzero {
    padding-left: 0px;
}

.sidebarh4 {
    font-size: 13px;
    font-weight: 600;
    color: #666;
}

.sdbtn {
    margin: 5px 2px;
    font-size: 12px;
    border-radius: 0px;
    color: #777;
}

.custsidebar{
    padding-right: 15px;
}

.sidebarbtn {
    width: 100%;
    background-color: #FC6F22;
    height: 40px;
    margin: 10px 0px;
    border-radius: 0px;
    font-size: 12px;
    font-weight: 600;
}

.thumbsup{
    font-size: 22px;
    margin-top: 12px;
    color: #62C4E2;
}

.btn-primary:hover{
    border-color: #ccc;
}

.nav-bottom{
    margin: 0;
    float: left;
}

.nav-bottom > li > a {
    color: #999;
    font-size: 14px;
}